.container-1 .username{
    margin-right: 10px;
}
.container-1 .list-btn{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container-1 .list-btn .change{
    height: 33px;
    margin: 0px;
    padding: 5px 9px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.container-1 .change a:hover{
    color: black;
}
.container-1 .info-chat{
    font-size: 14px;
    width: auto ;
}
.container-1 .info-follow{
    width: 54px;
    display: flex;
    justify-content: center;
}
.container-1 .info-follow-icon{
    background-image: url("https://www.instagram.com/static/bundles/metro/sprite_glyphs_55fdcdb93af0.png/55fdcdb93af0.png");
    background-position: -244px -181px;
    height: 12px;
    width: 24px;
}
.container-1 .fix{
    background-color: white;
    list-style-type: none;
    height: auto;
}
.container-1 .info-btn{
    margin: 32px 16px 16px;
}
.container-1 .info-unFl{
    margin: 32px;
}
.container-1 .info-unFl div{
    font-size: 14px;
    font-weight: 400;
}
.container-1 .info-text{
    border-top: 1px solid #dbdbdb;
}
.container-1 .info-text button{
    color: #ed4956;
    font-weight: 700;
}

.container-1 .fa-chevron-down, .container-1 .fa-chevron-up{
    font-weight: bold;
}

.container-1 .dots{
    border: 0;
}
.container-1 .dots .dots-modal button{
    color: #ed4956;
    font-weight: 700;
}
.container-1 .fa-ellipsis-h{
    font-size: 20px;
}

.modal-body .modal-follow .modal-friend{
    width: 100px;
}

.peoplefl{
    /* background: red; */
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 600;

}
.peoplefl span{
    color: #262626;
}
.peoplefl:hover{
    color: #8e8e8e !important;
}

/* .container .fix-css{
    height: 100px;
    padding-top: 0;
}
.container .fix-css .f1 .text{
    margin-top: 0 !important;
} */