* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  /* height: 2500px; */
}

a {
  text-decoration: none;
  color: inherit;
}

.grid.wide {
  max-width: 935px;
}

.jsb {
  display: flex;
  justify-content: space-between;
}

.jsc {
  display: flex;
  justify-content: center;
}

.jse {
  justify-content: flex-end;
}

.alc {
  display: flex;
  align-items: center;
}

.ale {
  display: flex;
  align-items: flex-end;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.header {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #d4d4d4;
  position: fixed;
  top: 0;
}
.header__img {
  width: 13rem;
  height: 2.9rem;
  margin-top: 7px;
}
.header__input {
  width: 21.5rem;
  height: 2.8rem;
  border-radius: 2px;
  position: relative;
}
.header__input input {
  width: inherit;
  border-radius: inherit;
  outline: none;
  border: 1px solid #ccc;
  padding: 7px 10px 3px 26px;
  font-size: 1.3rem;
  font-weight: 100;
}
.header__icons {
  width: 22.2rem;
  height: 2.2rem;
  padding-left: 2.4rem;
  display: flex;
}
.header__icon {
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
}
.header__icon:not(:first-child) {
  margin-left: 2.2rem;
}
.header__icon:last-child {
  position: relative;
}
.header__span-img {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.header__span-img::after {
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 50%;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.header__icon-outline {
  border: 1px solid #262626;
  border-radius: 50%;
  height: 28px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 28px;
}
.header__icon-search {
  width: 10px;
  height: 10px;
  background-image: url(./assets/image/icon_header.png);
  background-repeat: no-repeat;
  background-position: -399px -321px;
  position: absolute;
  left: 11px;
  top: 9px;
}
.header__icon-close {
  width: 2rem;
  height: 2rem;
  background-image: url(./assets/image/icon_header.png);
  background-repeat: no-repeat;
  background-position: -318px -333px;
  position: absolute;
  right: 5px;
  top: 4px;
}
.header__triagle {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 10.75rem;
  top: 33px;
  background-color: #fff;
  transform: rotate(45deg);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  z-index: 1;
}
.header__triagle-hidden {
  content: "";
  width: 2.7rem;
  height: 1.4rem;
  position: absolute;
  left: 10.2rem;
  top: 40px;
  z-index: 1;
  background-color: #fff;
}
.header__list-search {
  width: 37.5rem;
  height: 36.2rem;
  position: relative;
  background-color: #fff;
  margin-left: -8rem;
  top: 1.2rem;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: opacity 75ms linear, transform 38ms ease-out, -webkit-transform 38ms ease-out;
  padding-top: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}
.header__list-heading {
  margin: 4px 16px 0;
  height: 2.4rem;
}
.header__list-heading .left {
  font-weight: 600;
}
.header__list-heading .right {
  border: none;
  background-color: #fff;
  color: #0095f6;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.8rem;
  outline: none;
  cursor: pointer;
}
.header__list-items {
  margin: 8px 0;
}
.header__list-item {
  width: 37.5rem;
  height: 6rem;
  padding: 8px 16px;
  display: flex;
}
.header__list-item:hover {
  background-color: #fafafa;
}
.header__list-avatar {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 12px;
  position: relative;
}
.header__list-outline {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 52px;
  height: 52px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.header__list-outline::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 4px;
  bottom: 4px;
  left: 0px;
  z-index: 0;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right top, #f8a059, #c73796);
}
.header__list-outline::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 41px;
  height: 41px;
  border: 3.5px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}
.header__list-content {
  width: 24.7rem;
  height: 3rem;
}
.header__list-profile {
  font-weight: 600;
  font-size: 1.4rem;
}
.header__list-name {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #a7a5a5;
}
.header__list-close {
  padding: 8px;
  margin-left: 8px;
}
.header__action-list {
  width: 23rem;
  height: 19.4rem;
  padding: 0;
  top: 1.5rem;
  margin-left: -18rem;
}
.header__action-item {
  width: 23rem;
  height: 3.7rem;
  padding: 8px 16px;
}
.header__action-item-4 {
  margin-bottom: 4px;
}
.header__action-item-5 {
  margin-bottom: 4px;
  border-top: 1px solid #dbdbdb;
}
.header__action-item:hover {
  background-color: #fafafa;
}
.header__action-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 12px;
}
.header__action-content {
  font-size: 1.4rem;
}
.header__love-list {
  width: 50rem;
  height: 36.2rem;
  margin-left: -42.3rem;
  top: 1.3rem;
  padding: 0;
  border-top: 1px solid #ccc;
}
.header__love-header {
  padding: 4px 4px 0 4px;
  margin: 8px 0 0 8px;
  height: 19px;
}
.header__love-header-content {
  font-size: 1.4rem;
  font-weight: 600;
}
.header__love-item {
  width: 48.3rem;
  height: 7.9rem;
  padding: 12px 16px;
  position: relative;
}
.header__love-content {
  width: 34.3rem;
  height: 5.5rem;
  margin: 0 12px 0 0;
  line-height: 1.8rem;
}
.header__love-content-top {
  font-size: 1.4rem;
}
.header__love-content-top a {
  color: #262626;
  font-weight: 600;
  padding-left: 5px;
  margin-left: -5px;
}
.header__love-content-bottom {
  font-size: 1.4rem;
}
.header__love-content-bottom-time {
  color: #979595;
  margin-left: 5px;
  font-size: 1.6rem;
}
.header__love-content-bottom a {
  color: #00376b;
}
.header__love-img {
  width: 4rem;
  height: 4rem;
}
.header__love-img img {
  width: 4rem;
  height: 4rem;
}
.header__dropdown-hidden {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.header__icon-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 75ms linear, transform 38ms ease-out, -webkit-transform 38ms ease-out;
}

.header__search-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 75ms linear, transform 38ms ease-out, -webkit-transform 38ms ease-out;
}

.header__love-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 75ms linear, transform 38ms ease-out, -webkit-transform 38ms ease-out;
}

/*# sourceMappingURL=style.css.map */
